@import '../scss/resets';
@import '../scss/variables';
body {
    //* Normal CSS Variable Apply
    // background-color: var(--primary-color);
    // color: var(--text-color);
    background-color: $primary-color;
    color: $text-color;
}

//* Nesting Practice
.main {
    background-color: $secondary-color;
    color: $text-color;
    width: 1200px;
    margin: 0 auto;
    &__para {
        //! .main__para
        padding: 20px;
    }
    #{&}__news {
        //! .main .main__news
        background-color: $primary-color;
        border: 1px solid #fff;
        padding: 20px;
        &:hover {
            color: red;
            cursor: pointer;
        }
    }
}